/*! by Galesky and Tadeu, from SISNAR - PRF 2016 */

.infographic-box {
    padding: 20px;
    margin-bottom: 16px;
    min-height: 300px;
    cursor: pointer;
}
.infographic-box i {
    font-size: 4.6em;
    display: block;
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    color: #fff;
}
.infographic-box span.headline {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 4px;
    display: block;
    text-align: right;
    height: 60px;
}
.infographic-box span.value{
    font-size: 1em;
    display: block;
    text-align: justify;
}

.modalBackground{
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
}